
@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=Dancing+Script:wght@400..700&family=Grey+Qo&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap');




*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

/* main body */

body{
    height: 100vh;
    width: 100%;
    background-color: black !important;
    
}
main{
    overflow: hidden;
}

/* navigation bar: child elements are h1 and list */

nav{
    box-sizing: border-box;
    height:80px;
    width:100%;
    background: linear-gradient(#8b8bcf, #171753);
    border-radius: 50px;
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    padding:20px;
    overflow: auto;
    position:relative;
    
    
}

.nav-toggle{
    display:none;
}

#name-div h1{
    margin-left:100px;
    font-weight: bold;
}

/* heading: name Samreen Saif */
h1{
    
    color:yellow !important;
    /* margin-left: 100px; */
        font-size: 3rem;
        font-family: "Grey Qo", cursive;
        font-weight: 800;
        font-style:normal;
        
    
}

#buttons{
    display: flex;
    gap:50px;
    position: absolute;
    top:200px;
    right:100px;
    flex-direction: column;
    background-color: black;
    
}

#buttons button{
    background-color:black;
    border: none;
}
#buttons1{
    display: flex;
    gap:50px;
    position: absolute;
    top:1000px;
    right:100px;
    flex-direction: column;
    background-color: black;
    
}

#buttons1 button{
    background-color:black;
    border: none;
}
#buttons3{
    display: flex;
    gap:50px;
    position: absolute;
    top:1800px;
    right:100px;
    flex-direction: column;
    background-color: black;
    
}

#buttons3 button{
    background-color:black;
    border: none;
}
#buttons2{
    display: flex;
    gap:50px;
    position: absolute;
    top:5300px;
    right:100px;
    flex-direction: column;
    background-color: black;
    
}

#buttons2 button{
    background-color:black;
    border: none;
}


/* Base styling for the icon */
i.fa-brands, #buttons img, #buttons1 img, #buttons2 img, #buttons3 img {
    display: inline-block;
    transition: transform 0.6s ease; /* Smooth transition for the flip */
}

/* Flip the icon when hovered */
i.fa-brands:hover,#buttons img:hover, #buttons1 img:hover,#buttons2 img:hover,#buttons3 img:hover {
    transform: rotateY(180deg); /* Flip the icon around the Y-axis */
}


#sec-one{
    top:100px;
}

#sec-two{
    margin-top: 100px;
}
/* arranging list items from vertical to horizontal */

#list ul{
    display:flex;
    justify-content: space-between;
    list-style-type: none;
    
}

/* make the list box to move right */

#list
{
    margin-right: 80px;
}


/* space between each list item */

li
{
    
   margin-left: 50px;
    
}

/* decoration of a and gives transition effect */
#home, #about, #edu, #projects, #connect{
    text-decoration: none;
    color: #ffff00;
    display:inline-block;
    font-size: 1.2rem;
    padding:5px;
    border-radius: 7px;
    transition: all 0.7s ease-in; 

    &:hover{

        box-shadow: 0px 0px 12px 5px yellow;
        color:white;
        text-decoration: underline;
        transform: scale(1.1);
    }
}


/* Main container with avatar and text */
#container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row; /* Align content in a row */
    justify-content: space-between; /* Space between text and avatar */
    align-items: center; /* Vertically align in the center */
    padding: 0 50px; /* Adjust padding to create space on both sides */
    overflow: hidden;
}



/* Typewriter text on the left side */
#typewriter {
    font-size: 3rem;
    font-family: "Gowun Batang", serif;
    font-weight: 700;
    font-style: normal;
    color:yellow;
    margin-left:100px;
    
    /* margin-right: auto; Pushes the text to the left */
}

/* Animation for floating avatar */
@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}

/* Avatar on the right side */
#avatar {
    width: 350px;
    height: 450px;
    background-image: url("whatsappAvatar.webp");
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    animation: float 6s ease-in-out infinite;
    transition: box-shadow 1s ease;
    margin-right:200px;
    margin-bottom:100px;
    /* margin-left: auto; Pushes the avatar to the right */
}

/* Avatar hover effect */
#avatar:hover {
    box-shadow: 0 0 25px 10px rgba(255, 255, 0, 0.8);
}




#sec-about{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

#about-heading, #edu-heading, #pro-heading,#contact-heading{
    font-size: 6rem;
}

#para-about{
    height:400px;
    width:500px;
}

#para-about p, #heading p{
    
    font-size: 20px;
    padding:30px;
    text-align: justify;
    color:white;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(16, 16, 226), 0 0 5px darkblue;
}

#sec-three {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: 800px;
    /* margin-left: 100px; */
    margin-top: 100px;
}
#sec-three::before {
    content: ""; 
    position: absolute; 
    top: 180px; 
    left: 40px; 
    width: 10px; 
    height: 100%;
    background-color: white; 
    box-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue; 
}

#edu-list ul li::before{

    content:"";
    position:absolute;
    top:20px;
    left:-80px;
    width:50px;
    height:10px;
    background-color: white;
    box-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    
}

#edu-list{
    color:white;
    font-size: 2rem;
    margin-right: 500px;
    margin-top: 300px;
    position:absolute;

}

#edu-title{
    margin-bottom: 400px;
    text-align: center;
}

#edu-list ul li {

    position:relative;
    margin-top:80px;
    padding:5px;
    list-style: none;
}

#edu-list ul{
    position: relative;
}


h2{
    color:rgb(3, 241, 181) !important;
    font-size: 40px;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    position: absolute;
    margin-left: -550px;
}

/*------------card-----------------*/



#card-divs{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding:10px;
    gap: 20px;
    margin-top: 100px;
}

#card-divs > div {
    
    display:flex;
    flex-direction: column;
    align-items: center;
    
}
.card{
width:16rem;
height: 20rem;
margin: 10px;
padding: 10px;
box-sizing: border-box;
display:flex;
justify-content: space-between;
align-items: center;
flex-direction: column;
transition: all 2s ease ;

    &:hover{
        transform: scale(1.1);
        box-shadow: 0 0 25px 10px rgba(255, 255, 0, 0.8);
    }

}


.card img {
    width: 100%;
    height: 200px;
    object-fit: cover; 
}

.card-img-top1 {
    width: 100%;         
    height: 12rem;       
    object-fit: cover;   
    display: block;
}


.card-body p{
    color:blue;
    font-size: 15px;

}

.card-body {
    padding: 10px;
    display:flex;
    flex-direction: column;
    flex-grow: 1; 
}

.card-body h5, .card-body p {
    margin-bottom: 10px;
}

.card-body a {
    margin-top: auto;
    align-self: center;
    /* Pushes the link to the bottom of the card */
}



#sec-four {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    padding: 20px;
    margin-top: 100px;
    }

    #form-div{
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        height:800px;
        flex-direction: column;
        box-sizing: border-box;
        padding: 20px;
        
        
    }

    #heading p{
        
        font-size: 20px;
        text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
        text-align: center;
    }
    
    form {
        max-width: 700px;
        margin: auto;
        padding: 20px;
        color:yellow;
        
    }

    
    label {
        display: block;
        margin-bottom: 8px;
        font-weight: bold;
    }

    input[type="text"], input[type="email"], textarea {
        width: 100%;
        padding: 8px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    input[type="radio"] {
        margin-right: 10px;
    }

    textarea {
        resize: vertical;
    }
    #contact-form button{
        margin-top: 20px;
        border-radius: 5px;
    }

    button {
        top: 100px;
        padding: 10px 15px;
        background-color:  #171753;
        color:yellow;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    button:hover {
        background-color: #2727b1;
        color:white;
    }

    #secondHeading{

        margin-top:100px;
    }

    #hP{
        display: flex;
        margin-top:100px;
        gap:100px;
        flex-wrap: wrap;
    }

    #cv{
        border:3px darkblue solid;
        border-radius: 5px;
    }
      
    /* Footer Styling */
.footer {
    background: linear-gradient(#8b8bcf, #171753);
    border-radius: 50px;
    color: yellow;
    
    width: 100%;
    text-align: center;
    height: 70px;
}


.footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer a {
    color: yellow;
    text-decoration: underline;
}

.footer p {
    margin: 5px 0;
    font-size: medium;
}
    
